.mybtn{
    	text-align: center;
    	padding: 8px 341px;
    	border: solid 1px #777777;
    	color: #7777777;
    	background:#ffffff;
    	tansition: all .3s linear;
    	-webkit-transition: all .3s linear;
    	-moz-transition: all .3s linear;
    	text-transform: uppercase;
    }
.mybtn:hover {
    color: #fff;
    background: #333;
   	tansition: all .3s linear;
   	-webkit-transition: all .3s linear;
   	-moz-transition: all .3s linear;
   	   }

.mybtn2{
    	text-align: right;
    	padding: 8px 8px;
    	border: solid 1px #777777;
    	color: #7777777;
    	background:#ffffff;
    	tansition: all .3s linear;
    	-webkit-transition: all .3s linear;
    	-moz-transition: all .3s linear;
    	text-transform: uppercase;
    }
.mybtn2:hover {
    color: #fff;
    background: #333;
   	tansition: all .3s linear;
   	-webkit-transition: all .3s linear;
   	-moz-transition: all .3s linear;
   	   }