{% extends 'layout.html' %}

{% block body %}
<div class="alert alert-danger" role="alert" xmlns="http://www.w3.org/1999/html">
<h1>{{title}}</h1>
</div>
<body>
<div>
	<form class="login_form" method="post">
    {% set period = 0 %}
    {% for test in tests %}
        {% if test['title'] == title %}
            {% for questions in Question %}
                {% if questions['test_id'] == test['id'] %}
		    <div class="alert alert-warning" role="alert">
        	    <h2>{{questions["title"]}}</h2>
		    </div>
		    {% if questions["picture"] %}
		<p align="center">
			<img src="\static\img\{{ questions['picture'] }}" alt="image">
		</p>
		    {% endif %}
		    {% for answers in answer %}
			{% if answers['question_id'] == questions['id'] %}
				{% if period == 4 %}
                		    period = 0
            			{% elif period < 4 %}
				    <div class="form-group">
				    <div class="alert alert-info" role="alert">
						<input class="form-check-input" type="radio" name="{{answers["question_id"]}}""
						id="{{answers["id"]}}" value="{{answers["title"]}}"> {{ answers["title"] }}</input></br>
					</div>
				    </div>
				{% endif %}
			{% endif %}
		    {% endfor %}
		{% endif %}
	    {% endfor %}
	{% endif %}
    {% endfor %}
<button type="submit" class="btn btn-primary">Посмотреть результат</button>
	</form>
</div>
</body>
{% endblock %}
