{% extends 'layout.html' %}

{% block body %}
<div class="alert alert-danger" role="alert">
<h1>{{title}}</h1>
</div>
<body>
    {% set period = 0 %}
    {% for item in tests %}
        {% if item['title'] == title %}
            {% for j in Question %}
                {% if j['test_id'] == item['id'] %}
		    <div class="alert alert-warning" role="alert">
        	    <h2>{{j["title"]}}</h2>
		    </div>
		    {% if j["picture"] %}
		        <div class="alert alert-info" role="alert">
			    <img src="\static\img\{{j["picture"]}}" alt="альтернативный текст">
    		        </div>
		    {% endif %}
		    {% for q in answer %}
			{% if q['question_id'] == j['id'] %}
				{% if period == 4 %}
                		    period = 0
            			{% elif period < 4 %}
				    <div class="form-group">
				    <div class="alert alert-info" role="alert">
                    		    <input class="form-check-input" type="radio" name="{{q["question_id"]}}" id="{{q["id"]}}" value="{{q["id"]}}">
                        	    <label class="form-check-label" for="{{q["id"]}}">
					<div class="alert alert-success" role="alert">
                                	{{q["title"]}}
					</div>
				    </label>
                     		    </div>
				    </div>
				{% endif %}
			{% endif %}
		    {% endfor %}
		{% endif %}
	    {% endfor %}
	{% endif %}
    {% endfor %}
    <div class="alert alert-danger" role="alert">
    <li class="list-group-item"><a href="/login">Посмотреть результат</a></li>
    </div>
</body>
{% endblock %}
