{% extends 'layout.html' %}

{% block body %}
<h1>{{title}}</h1>
<body>
    {% set period = 0 %}
    {% for item in tests %}
        {% if item['title'] == title %}
            {% for j in Question %}
                {% if j['test_id'] == item['id'] %}
        	    <h2>{{j["title"]}}</h2>
		    {% if j["picture"] %}
		        <div>
			    <img src="\static\img\{{j["picture"]}}" alt="альтернативный текст">
    		        </div>
		    {% endif %}
		    {% for q in answer %}
			{% if q['question_id'] == j['id'] %}
				{% if period == 4 %}
                		    period = 0
            			{% elif period < 4 %}
				    <div class="form-group">
                    		    <input class="form-check-input" type="radio" name="{{q["question_id"]}}" id="{{q["id"]}}" value="{{q["id"]}}">
                        	    <label class="form-check-label" for="{{q["id"]}}">
                                	{{q["title"]}}
				    </label>
                     		    </div>
				{% endif %}
			{% endif %}
		    {% endfor %}
		{% endif %}
	    {% endfor %}
	{% endif %}
    {% endfor %}
</body>
{% endblock %}
